{% for file in files %}

    <tr>
        <td>
            <div class="file-link">
                <span class="file-icon {{ file.type_class|default:'other' }}">
                    {{ file.type_badge|default:"FILE" }}
                </span>
                <span class="file-name">{{ file.name }}</span>
            </div>
        </td>

        <td>
            <span class="file-folder" title="{{ file.folder }}">
                {{ file.folder }}
            </span>
        </td>

        <td>
            <span class="type-value">{{ file.type_label|default:"File" }}</span>
        </td>

        <td>
            <span class="size-value">{{ file.size }}</span>
        </td>
    </tr>

{% empty %}

    <tr>
        <td colspan="4" class="empty-state">
            No files were found.
        </td>
    </tr>

{% endfor %}
